/*General*/
body {
  max-width: 1424px;
  margin: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h4 {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
}

.container {
  max-width: 930px;
  width: 100%;
  margin: 0 auto;
}

section {
  text-align: center;
}

.section-title {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 120px 0 0 0;
  margin: 0;
}

.section-subtitle {
  color: #777777;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-style: italic;
  margin: 0 0 80px 0;
}

/*background*/
.bg-image {
  background-image: url("../images/background_image_hover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

/*Navigation*/
.page-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  background-color: transparent;
}

.brand, .brand img {
  display: block;
}

.menu-items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-items li {
  margin: 0 2px;
  display: inline-block;
}

.menu-items li a {
  font-size: 14px;
  font-weight: 400;
  padding: 20px;
  display: inline-block;
  line-height: 2.9em;
  color: #ffffff;
}

.menu-items li a:hover {
  color: #fed136;
}

/*Intro-section*/
.intro-section h1 {
  margin: 0 0 70px 0;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.88px;
}

.intro-section p {
  margin: 230px 0 30px 0;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
}

.btn-primary {
  margin-bottom: 170px;
  padding: 25px 50px;
  background-color: #fed136;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  color: #ffffff;
  transition: all 0.5s;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #fed136;
}

/*services-section*/
.services-section {
  padding-bottom: 120px;
}

.services-section .card {
  padding: 0 15px;
}

.services-section h4 {
  margin: 30px 0 15px;
}

.services-section p {
  color: #777777;
  font-family: 'Roboto Slab';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
  margin: 0;
  line-height: 22px;
}

/*portfolio-section*/
.portfolio-section .card {
  background-color: #ffffff;
  padding: 0;
  margin: 0 15px 120px;
}

.portfolio-section {
  background-color: #f7f7f7;
}

.portfolio-section .section-text {
  margin: 0;
  padding: 30px 0;
}

.portfolio-section h4 {
  margin: 0;
  color: #333333;
}

.portfolio-section p {
  margin: 0;
  color: #737373;
  font-size: 14px;
  font-style: italic;
  font-family: "Playfair Display", serif;
}
/*# sourceMappingURL=style.css.map */